nav {
    background-image: linear-gradient(to right, darkcyan, #440606);
    color: #FFF;
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 20%;
        margin: 0;
        li {
          cursor: progress;
          font-size: 22px;
          color: #FFF;
          text-decoration: none;
          .btn {
            cursor: pointer;
            background-color: aqua;
            color: darkcyan;
            font-size: 22px;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 0;
            display: inline-block;
          }
          
          .btn:hover {
            background-color: #f1b4b4;
          }
        }
      }
    }
  }